#discography {
    h1 {
        font-size: 1em;
    }
    .discography-selected {
        margin-bottom: 10em;
    }

    .discography-complete {
        margin-bottom: 10em;
    }

    .releases-grid {
        display: grid;
        &.selected {
            grid-template-columns: 1fr;
            @media (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        &.complete {
            grid-template-columns: 1fr 1fr;
            @media (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
        &.bands {
            grid-template-columns: 1fr 1fr;
            @media (min-width: $md) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
        gap: 1em;
        .release {
            position: relative;
            .details {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: grid;
                align-content: center;
                justify-content: center;
                text-align: center;
                gap: 1em;
                padding: 0.5em;
                z-index: 2;
                background: #fff;
                opacity: 0;
                animation-name: fadeOutOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 0.2s;
                &:hover {
                    opacity: 0.7;
                    animation-name: fadeInOpacity;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-duration: 0.2s;
                }
            }
        }
    }

    .release-container {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        padding: 0 1em;
        @media (min-width: $md) {
            padding: 0;
            grid-template-columns: 1fr 1fr;
        }
        a {
            text-decoration: underline;
        }
        .release-header {
            @media (min-width: $md) {
                grid-column-start: 1;
                grid-column-end: 3;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            h1 {
                font-size: 3em;
                line-height: 1em;
                text-align: left;
                margin-bottom: 0.2em;
                @media (min-width: $md) {
                    margin-bottom: 0em;
                    font-size: 5em;
                    line-height: 1em;
                    max-width: 75%
                }
            }
            .header-details {
                text-align: right;
                font-size: 0.8em;
                a {
                    font-weight: bold;
                }
                .release-edition {
                    .format:not(:last-child) {
                        &:after {
                            content: ', ';
                        }
                    }
                    &:not(:first-child) {
                        margin-top: 0.5em;
                        padding-top: 0.5em;
                        border-top: 1px solid #ddd;
                    }
                    &:nth-child(n+2):last-of-type {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
        .release-cover img {
            margin-bottom: 1em;
        }
        .release-attachments {
            margin-bottom: 1em;
            .attachment {
                text-align: center;
                span {
                    font-size: 0.8em;
                    display: block;
                }
                &:not(:first-child) {
                    margin-top: 0.5em;
                }
            }
        }
        .release-edition-photos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1em;
            margin-bottom: 1em;
            align-items: center;
        }
        iframe {
            width: 100%;
            min-height: 165px;
            margin-bottom: 1em;
        }
        .release-tracklist {
            list-style-type: decimal-leading-zero;
            padding-left: 2.4em;
            margin-bottom: 1em;
        }
        .release-about, .release-credits {
            margin-bottom: 1em;
            p:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
        .release-presses {
            padding-top: 1em;
            border-top: 1px solid #ddd;
            font-size: 0.9em;
        }
    }
}
