.content-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  .pressList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    align-content: space-between;
    li:nth-child(odd) {
      padding-right: 16%;
      transform: rotate(2deg);
    }
    li:nth-child(even) {
      padding-left: 16%;
      transform: rotate(-2deg);
    }
  }
  .press-quote {
    line-height: 1.1em;
    margin-bottom: 0.5em;
    /* text-align: justify; */
    font-style: italic;
  }

  .press-credit {
    a:not(.press-publication) {
      text-decoration: underline;
      font-weight: 100;
      color: #fff;
    }
  }
}

.headerPhoto {
  max-height: 600px;
  object-fit: cover;
}

.about {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 1em;
  color: #ccc;
  text-align: justify;
  p,
  ul,
  li {
    margin: 0 auto 1em auto;
  }
  ul {
    list-style-type: disc;
    padding-left: 1em;
  }
  a {
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: 0.05em;
  }
  strong {
    letter-spacing: 0.05em;
    color: #fff;
  }
}
em {
  font-weight: 100;
  color: #fff;
}
