.content-listen {
}

.releases-grid {
  display: grid;
  gap: 1em;
  &.selected {
    grid-template-columns: 1fr;
  }
  &.complete {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1024px) {
    &.selected {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.complete {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .recording {
    position: relative;
    .cover img {
      aspect-ratio: 1;
      object-fit: cover;
    }
    .details {
      @media (max-width: 1024px) {
        text-align: right;
        div {
          display: inline;
        }
        .album-bandname {
          &:after {
            content: ' - ';
          }
        }
        .album-releasedate {
          &:after {
            content: ')';
          }
          &:before {
            content: ' (';
          }
        }
      }
      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 2em;
        z-index: 2;
        background: #ddd;
        color: #000;
        opacity: 01;
        animation-name: fadeOutOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
        &:hover {
          opacity: 0.9;
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: 0.2s;
        }
      }
    }
  }
  .album-title {
    @apply font-lofi;
    font-size: 4cqb;
    line-height: 1em;
  }
  .album-releasedate {
    @apply font-circles;
    font-size: 2.5em;
    line-height: 1em;
    position: absolute;
    bottom: 0em;
    right: 0.25em;
  }
}
