@import "tailwindcss";

@utility font-charlottenburg {
  font-family: var(--font-charlottenburg-classic);
}

@utility font-lofi {
  font-family: var(--font-lofi-forest);
}

.content-projects {
  h1 {
    text-shadow: 1px 1px 1px #000;
  }
  .band-list-container {
    container-name: related-container;
    container-type: inline-size;
  }
}

.project-summaries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  > a {
    display: grid;
    gap: 2em;
    align-items: center;
    margin: 0 auto;
    color: inherit;
    text-decoration: none;
    @media (max-width: 549px) {
      grid-template-columns: 1fr;
      gap: 1em;
      grid-template-areas: 'image' 'text';
    }
    @media (min-width: 550px) {
      &:nth-child(even) {
        grid-template-columns: 250px 1fr;
        grid-template-areas: 'image text';
        margin-left: 0;
      }
      &:nth-child(odd) {
        margin-right: 0;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 'text image';
      }
    }
    @media (min-width: 1300px) {
      width: 65%;
    }
    img {
      grid-area: image;
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
      border: 1px solid #333;
    }
    .text {
      grid-area: text;
      line-height: 1.2em;
      font-size: 1.2em;
      p + p {
        margin-top: 1em;
      }
    }
    .image-wrapper {
      position: relative;
      max-width: 250px;
      min-width: 250px;
      margin: 0 auto;
    }
    .image-wrapper > span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #ce78ff;
      border-radius: 50%;
      opacity: 0.1;
      z-index: 10;
      transition: all 200ms ease;
    }
    img {
      transition: all 200ms ease;
      filter: grayscale(1) contrast(100) brightness(0.7);
    }
    .text strong:nth-child(1) {
      text-decoration: underline;
    }
    .text strong:nth-child(n + 2) {
      color: inherit;
    }
    &:hover {
      .text strong:nth-child(1) {
        text-decoration: underline;
      }
      span {
        opacity: 0;
      }
      img {
        filter: none;
      }
    }
  }
}

.project-summary-tethers {
  img {
    object-position: 29% 0;
  }
}
.project-summary-roughweather {
  img {
    object-position: 100% 0;
  }
}

/* project detail page */

.content-projects:not(.generic-container) {
  h2 {
    .project-releases &:first-child {
      display: none;
    }
    &:not(:first-child) {
      margin-top: 1.2em;
      text-align: left;
      font-size: 2.7em;
      clear: left;
      @media (min-width: 768px) {
        font-size: 7em;
      }
    }
  }
  @media (max-width: 767px) {
    h2 {
      @apply font-charlottenburg;
    }
    h3 {
      font-size: 2em;
    }
  }
  .header-container {
    position: relative;
    margin-bottom: 2em;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 65cqi;
      object-fit: cover;
      margin-bottom: 1em;
      .anura-container & {
        object-position: 0 69%;
      }
      .advection-container & {
        object-position: 0 28%;
      }
      .tethers-container & {
        object-position: 0 69%;
      }
      .bighiatus-container & {
        object-position: 0 32%;
      }
      .estherchlorine-container & {
        object-position: 88% 32%;
      }
      .itbreaks-container & {
        object-position: 0 45%;
      }
      .roughweather-container & {
        object-position: 0 42%;
      }
      @media (min-width: 1024px) {
        height: 30cqi;
        .anura-container & {
          object-position: 0 48%;
        }
        .estherchlorine-container & {
          object-position: 0 32%;
        }
      }
    }
    h1 {
      position: relative;
      text-align: right;
      top: 2cqi;
      right: 2.3cqi;
      z-index: 20;
      height: 65cqi;
      @media (min-width: 1024px) {
        height: 30cqi;
      }
    }
  }
}

.project-content {
  .project-releases p {
    line-height: 1.3em;
    strong {
      color: inherit;
    }
  }
  @media (max-width: 1449px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'intro' 'releases' 'shows';
    .project-intro {
      grid-area: intro;
    }
    .project-shows {
      grid-area: shows;
    }
    .project-releases {
      grid-area: releases;
    }
  }
}

.project-intro {
  line-height: 1.2em;
  font-size: 1.2em;
  margin: 1em auto 3em auto;
  width: 90%;
  @media (min-width: 1024px) {
    text-align: center;
    width: 80%;
  }
}

.project-shows {
  margin-top: 5em;
  h2 {
    margin: 0.1em 0 0 0 !important;
    line-height: 1em;
    font-size: 4em !important;
    text-align: left;
    @apply font-charlottenburg;
  }
  li {
    margin-top: 1em;
  }
  @media (min-width: 768px) {
    li {
      margin-top: 0;
    }
  }
  @media (min-width: 1450px) {
    float: right;
    margin: 0 0 1em 1em;
    border: 1px solid #333;
    border-radius: 2em;
    padding: 1em 2em;
    max-width: 500px;
  }
}

.project-release {
  clear: left;
  &::after {
    content: '';
    clear: left;
    display: table;
  }
  h3 {
    @apply font-lofi;
    line-height: 0.9em;
    margin-bottom: 0.4em;
    position: relative;
    top: 0.05em;
    word-spacing: initial;
    span {
      font-size: 0.7em;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    em {
      color: inherit;
    }
    @media (max-width: 649px) {
      h3 {
        color: #dea4ff;
      }
      .title {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.1em;
      }
    }
    &:hover {
      img {
        box-shadow: 0 0 0.5em rgba(222, 164, 255, 0.8);
      }
    }
  }
  & + .project-release {
    padding-top: 3em;
  }
  .project-release-cover {
    aspect-ratio: 1;
    margin-bottom: 1em;
    &:has(.recording + .recording) {
      aspect-ratio: 2;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr;
    }
    .recording {
      aspect-ratio: 1;
    }
  }
  @media (min-width: 650px) {
    .project-release-cover {
      float: left;
      max-width: 250px;
      max-height: 250px;
      margin-right: 1em;
      margin-bottom: 0em;
    }
    a h3 {
      text-decoration: none;
    }
    a:hover h3 {
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0.4);
      text-decoration-thickness: 1px;
      text-underline-offset: 0.1em;
    }
  }
  .project-release-description {
    grid-area: description;
  }
  p {
    line-height: 1.2em;
  }
  p + p {
    margin-top: 1.5em;
  }
}
