.content-projects {
  .band-list-container {
    container-name: related-container;
    container-type: inline-size;
  }
}

.project-summaries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;
  > a {
    display: grid;
    gap: 2em;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 549px) {
      grid-template-columns: 1fr;
      gap: 1em;
      grid-template-areas: 'image' 'text';
    }
    @media (min-width: 550px) {
      &:nth-child(even) {
        grid-template-columns: 250px 1fr;
        grid-template-areas: 'image text';
        margin-left: 0;
      }
      &:nth-child(odd) {
        margin-right: 0;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 'text image';
      }
    }
    @media (min-width: 1300px) {
      width: 65%;
    }
    img {
      grid-area: image;
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
      border: 1px solid #333;
    }
    .text {
      grid-area: text;
      line-height: 1.2em;
      font-size: 1.2em;
      p + p {
        margin-top: 1em;
      }
    }
    .image-wrapper {
      position: relative;
      max-width: 250px;
      min-width: 250px;
      margin: 0 auto;
    }
    .image-wrapper > span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #ce78ff;
      border-radius: 50%;
      opacity: 0.1;
      z-index: 10;
      transition: all 200ms ease;
    }
    img {
      transition: all 200ms ease;
      filter: grayscale(1) contrast(100) brightness(0.7);
    }
    @media (max-width: 1023px) {
      .text em {
        text-decoration: underline;
      }
    }
    &:hover {
      .text em {
        text-decoration: underline;
      }
      span {
        opacity: 0;
      }
      img {
        filter: none;
      }
    }
    &:a {
      margin-top: -20em;
    }
  }
}

.project-summary-tethers {
  img {
    object-position: 29% 0;
  }
}
.project-summary-roughweather {
  img {
    object-position: 100% 0;
  }
}

/* project detail page */

.content-projects:not(.generic-container) {
  .header-container {
    position: relative;
    margin-bottom: 2em;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 30cqi;
      object-fit: cover;
      margin-bottom: 1em;
      .anura-container & {
        object-position: 0 48%;
      }
      .advection-container & {
        object-position: 0 28%;
      }
      .tethers-container & {
        object-position: 0 69%;
      }
      .bighiatus-container & {
        object-position: 0 32%;
      }
      .estherchlorine-container & {
        object-position: 0 32%;
      }
      .itbreaks-container & {
        object-position: 0 45%;
      }
      .roughweather-container & {
        object-position: 0 18%;
      }
    }
    h1 {
      position: relative;
      top: 2cqi;
      right: 2.3cqi;
      z-index: 20;
      height: 30cqi;
    }
  }
  /* .recording {
    max-width: 24%;
    margin-bottom: 1%;
    &.left {
      float: left;
      margin-right: 1%;
    }
    &.right {
      float: right;
      margin-left: 1%;
    }
  } */
}

.project-shows {
  float: right;
  margin: 0 0 1em 1em;
  border: 1px solid #333;
  border-radius: 2em;
  padding: 1em 2em;
  h3 {
    text-align: center;
  }
}

.project-release {
  display: grid;
  gap: 1em;
  clear: both;
  grid-template-areas: 'cover description';
  grid-template-columns: 24% 1fr;
  .project-release-cover {
    grid-area: cover;
    &:has(.recording + .recording) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .project-release-description {
    grid-area: description;
  }
}
