.content-projects {
  .band-list-container {
    container-name: related-container;
    container-type: inline-size;
  }
  .band-list {
    display: grid;
    grid-template-columns: repeat(7, 9cqi);
    align-items: center;
    margin: 5cqi 0 15cqi 0;
    gap: 1cqi;
    width: 78cqi;
    margin-right: auto;
    margin-left: auto;
    li {
      transform: rotate(35deg);
      text-align: center;
      font-size: 3.5cqi;
      line-height: 3cqi;
      white-space: nowrap;
      transition: border-color(1s);
      a {
        text-decoration: underline;
        text-decoration-color: #fff;
      }
      a:hover {
        text-decoration-color: #0f0;
      }
    }
  }
}
