.content-recordingDetails {
  h1 {
    @apply font-lofi;
    font-size: 13cqi;
    line-height: 0.7em;
    margin-top: 0.3em;
    &.letters-4 {
      font-size: 23cqi;
    }
    &.letters-6 {
      font-size: 22cqi;
    }
    &.letters-7 {
      font-size: 18cqi;
    }
    &.letters-8 {
      font-size: 17cqi;
    }
    &.letters-9 {
      font-size: 16cqi;
      &.words-1 {
        font-size: 15cqi;
      }
    }
    &.letters-10 {
      font-size: 14cqi;
      &.words-2 {
        font-size: 13cqi;
      }
    }
    &.letters-11 {
      font-size: 13cqi;
    }
    &.letters-12 {
      font-size: 13cqi;
      &.words-3 {
        font-size: 11cqi;
      }
    }
    &.letters-13 {
      font-size: 12cqi;
    }
    &.letters-15,
    &.letters-16,
    &.letters-17 {
      font-size: 14cqi;
    }
    &.letters-18 {
      font-size: 16cqi;
    }
    &.letters-19,
    &.letters-20 {
      font-size: 13cqi;
    }
    &.letters-21,
    &.letters-22 {
      font-size: 11cqi;
    }
    &.letters-23,
    &.letters-24,
    &.letters-25 {
      font-size: 10cqi;
    }
    &.letters-27 {
      font-size: 9cqi;
    }
    &.letters-28 {
      font-size: 10cqi;
    }
    &.letters-31 {
      font-size: 9cqi;
      &.words-4 {
        font-size: 7cqi;
      }
    }
    &.letters-34,
    &.letters-35 {
      font-size: 8cqi;
    }
    &.letters-41 {
      font-size: 5cqi;
    }
    &.letters-47 {
      font-size: 6cqi;
    }
    &.letters-64 {
      font-size: 5cqi;
    }
  }
}

.recordingDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  margin-top: 2em;
  hr {
    opacity: 0.5;
    margin: 2em auto;
    width: 70%;
  }
  h2 {
    text-align: left;
    font-size: 7cqi;
    line-height: 1em;
    margin: 0;
    text-align: right;
  }
  iframe {
    width: 100%;
  }
  .recordingDetail-column {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.detailCover {
  border: 1px solid #333;
  object-fit: contain;
}

.recordingAttachments {
  a {
    text-decoration: underline;
    font-size: 1.5em;
    display: block;
    text-align: center;
  }
}

.content-recordingDetails {
  .recording-stats {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    .icons {
      display: flex;
      gap: 1em;
      align-items: center;
      justify-content: center;
      svg {
        height: 3em;
        width: 3em;
      }
    }
    .edition {
      text-align: right;
      font-size: 1.3em;
      line-height: 1em;
      & + .edition {
        margin-top: 0.5em;
      }
    }
  }
  .about {
    font-size: 1.4em;
    line-height: 1.3em;
  }
  .press {
    line-height: 1.1em;
    p + p {
      margin-top: 1em;
    }
    p {
      width: 80%;
      margin: 0 auto 1em auto;
    }
  }
}
