.releases-grid {
  display: grid;
  &.selected {
    grid-template-columns: 1fr;
    gap: 5em;
  }
  &.complete {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 3em;
  }
  @media (max-width: 1023px) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    &.selected {
      gap: 1em;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.complete {
      gap: 1em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
.recording {
  position: relative;
  .cover img {
    aspect-ratio: 1;
    object-fit: cover;
  }
  .details {
    @media (max-width: 1023px) {
      display: block;
      margin-top: 1em;
      &:hover {
        text-decoration: underline;
      }
    }
    @media (min-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: grid;
      align-content: center;
      justify-content: center;
      text-align: center;
      padding: 1em;
      z-index: 2;
      background: #ddd;
      color: #000;
      opacity: 0;
      transition: opacity 0.2s;
      text-decoration: none;
      &:hover {
        opacity: 0.9;
        text-decoration: none;
      }
    }
  }
}

/* type for album titles and dates */
.album-title {
  @apply font-lofi;
  line-height: 1em;
}
.album-releasedate {
  @apply font-charlottenburg;
  text-align: right;
  line-height: 1em;
}
@media (min-width: 768px) {
  .album-releasedate {
    @apply font-circles;
  }
}
.details {
  container-name: detail-box;
  container-type: inline-size;
}

@media (max-width: 1023px) {
  @container (width < 300px) {
    .releases-grid.complete {
      .album-title,
      .album-releasedate {
        @apply font-mono;
        font-size: 1em;
        line-height: 1.5em;
        overflow-wrap: anywhere;
        hyphens: manual;
        hyphenate-character: '—';
      }
    }
  }
  .releases-grid.complete {
    a {
      text-decoration-thickness: 1px;
      text-underline-offset: 0.2em;
    }
  }
  .selected .details {
    text-align: center;
  }
  .complete .details {
    text-align: center;
  }
  .album-title {
    font-size: 8cqi;
    display: inline;
    margin-right: 3cqi;
  }
  .album-releasedate {
    font-size: 8cqi;
    display: inline-block;
    text-decoration: none;
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

@media (min-width: 1024px) {
  .album-releasedate {
    @apply font-circles;
    position: absolute;
    bottom: 0em;
    right: 0.25em;
    font-size: 20cqi;
    line-height: 1em;
  }
  .selected {
    .album-title {
      font-size: 16cqi;
    }
    .long-title {
      font-size: 11cqi;
    }
  }
  .complete,
  .project-content {
    .album-title {
      width: 100%;
      font-size: 17cqi;
    }
    .long-title {
      font-size: 10cqi;
    }
    .really-long-title,
    .long-word {
      font-size: 8cqi;
    }
  }
}
