.content-related {
  .band-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    li {
      text-align: center;
      font-size: 3em;
      line-height: 1em;
      white-space: nowrap;
    }
  }
}